{% extends 'static/base.html' %}

{% block content %}

{% if user.is_authenticated %}
<div class="fixed-top bg-body-tertiary navbar-expand-lg">
  <br/> 
  <div class="container" style="margin-bottom: 64px;"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <h1 style="margin-right: 1%;">Lista pacjentów</h1>
    <form class="d-flex" method="POST" action="{% url 'patient-search' %}">
    {% csrf_token %}
      <button class="btn btn-outline-secondary" style="margin-right: 1%;" type="submit"><i class="fa fa-search">&nbsp;Szukaj</i></button>
      <input class="form-control me-2" type="search" placeholder="Szukaj Pacjenta - wpisz PESEL" aria-label="Search" name="searched">
    </form>
  </div>
</div> 

  <form action="{% url 'patient-compare' %}" method="POST">
  {% csrf_token %}
    <ul class="container nav nav-tabs fixed-top bg-body-tertiary navbar-expand-lg" style="margin-top: 140px;">
      <li><a href="{% url 'home' %}" class="nav-link active" >Pacjenci&nbsp;(&nbsp;{{ patient_count }}&nbsp;)</a></li>  
      <li><a href="{% url 'patient-add' %}" class="btn"><i class="fa fa-plus-square" style="font-size: 24px;"></i></a></li>
      <li><input type="submit" value="Porównaj" class="btn btn-outline-warning"></li>
    </ul>
  </br>

      <table class="table">
            <thead>
              <tr >
                <th scope="col">HCC</th>
                <th scope="col">Data konsylium</th>
                <th scope="col">Imię i nazwisko</th>
                <th scope="col">Telefon</th>
                <th scope="col">Email</th>
                <th scope="col">PESEL</th>
                <th scope="col">Decyzja</th>
                <th style="font-size: 10px; text-align: center;">Porównaj</th>
                <th style="font-size: 10px; text-align: center;">Aktualizuj</th>
                <th style="font-size: 10px; text-align: center;">Profil</th>
                {% if user.is_superuser %}
                <th style="font-size: 10px; text-align: center;">Delete</th>
                {% endif %}
              </tr>
            </thead>
            {% for patient in patient %}
            <tbody>
              <tr>
                <th>{{ patient.hcc_number }}</th>
                <td>{{ patient.date }}</td>
                <td>{{ patient.name }}</td>
                <td>{{ patient.phone }}</td>
                <td>{{ patient.email }}</td>
                <td>{{ patient.pesel }}</td>
                <td>{{ patient.decision }}</td>
                <td><center>
                  <input class="form-check-input" type="checkbox" name="compare" value="{{ patient.id }}">
                  </center></td>
                <td><center>
                  <a class="btn btn-light d-inline" style="font-size: 12px;" href="{% url 'patient-update' patient.id %}">
                  <i class="fa fa-refresh"></i></a>
                </center></td> 
                <td><center>
                  <a class="btn btn-light d-inline" style="font-size: 12px;" href="{% url 'patient' patient.id %}">
                  <i class="fa fa-user" style="font-size: 15px;"></i></a>
                </center></td>
                {% if user.is_superuser %}
                <td><center>
                  <a class="btn d-inline p-1" href="{% url 'patient-delete' patient.id %}">
                  <i class="fa fa-remove" style="color: orange;"></i></a>
                </center></td>
                {% endif %} 
              </tr> 
            </tbody>
            {% endfor %}
      </table>
  </form>

{% else %}
  
  <div class="col-md-6 offset-md-3">
    <h1> Zaloguj się </h1>
    <br/><br/>
      <form method='POST' action="{% url 'home' %}">
      {% csrf_token %}
        <div class="form-group" >
          <input type="text" name="username" class="form-control" placeholder="Username">
        </div><br/>
        <div class="form-group" >
          <input type="password" name="password" class="form-control" placeholder="Password">
        </div><br/>
        <div class="form-group" >
          {{ cfcaptcha_form.cfcaptcha }}
        </div><br/>
        <button type="submit" class="btn btn-secondary">Login</button>
      </form>
  </div>


{% endif %}

{{ redirect_to_login_immediately }}

{% endblock %}